<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TeamProject.company.mapper.CompanyMapper">

  <insert  id="insertCompany">
 
  	INSERT  INTO  COMPANY  ( 
        COM_ID,
        COM_NAME,
       	COM_NUM,
       	COM_BOSS,
        COM_PW)
    VALUES   ( 
       #{ com_id   },
       #{ com_name },
       #{ com_num  },
       #{ com_boss  },
       #{ com_pw  }
        
    )
  
  </insert>
  
    <select  id = "clogin">
	  SELECT   
			COM_ID,
			COM_NAME,
			COM_NUM,
			COM_BOSS,
			COM_PW       
	   FROM  
	       COMPANY
	   WHERE
	       COM_ID = #{ arg0 }  
	    AND
	       COM_PW = #{ arg1 }       
	
	</select>
</mapper>
