<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TeamProject.users.post.mapper.PostMapper">

  <resultMap id="getViewMap" type="java.util.HashMap">
	 <result property="com_name"       column="com_name"   />
	 <result property="po_num"         column="po_num"   />
	 <result property="com_id"         column="com_id"   />
	 <result property="skill"          column="skill" />
	 <result property="career"         column="emcareerail"    />
	 <result property="region"         column="region"      />
	 <result property="emplo"          column="emplo"   />
	 <result property="po_subtitle"    column="po_subtitle"   />	
	 <result property="po_content"     column="po_content"   />	
	 <result property="po_image"       column="po_image"   />	
	</resultMap>
			
  <resultMap id="getResumMap" type="java.util.HashMap">
	 <result property="po_num"         column="po_num"   />
	 <result property="com_id"         column="com_id"   />
	 <result property="skill"          column="skill" />
	 <result property="career"         column="emcareerail"    />
	 <result property="region"         column="region"      />
	 <result property="emplo"          column="emplo"   />
	 <result property="re_num"         column="re_num"   />
	 <result property="user_title"     column="user_title"   />	
	 <result property="po_title"       column="po_title"   />	
	 <result property="com_date"       column="com_date"   />	
	 <result property="result"         column="result"   />	
	</resultMap>

  <select   id="getPostList">
    	SELECT  
    	  PO_NUM
		, COM_ID
		, PO_TITLE
		, SKILL
		, CAREER
		, REGION
		, EMPLO
		, PO_SUBTITLE
		, PO_CONTENT
		, PO_IMAGE
    	 FROM  
           POST  
     </select>
  
  <select id="getView" resultMap ="getViewMap">
  	SELECT     COM.COM_NAME,
               PO.PO_NUM,
               PO.COM_ID,
               PO.SKILL,
               PO.CAREER,
               PO.REGION,
               PO.EMPLO,
               PO.PO_SUBTITLE,
               PO.PO_CONTENT,
               PO.PO_IMAGE
          FROM POST PO, COMPANY COM
         WHERE PO.COM_ID = COM.COM_ID
           AND PO_NUM = #{ po_num }
  </select>
  
  <select id="getResum" resultMap ="getResumMap">
  	SELECT     PO.PO_NUM,
               PO.COM_ID,
               PO.SKILL,
               PO.CAREER,
               PO.REGION,
               PO.EMPLO,
			   AP.RE_NUM,
			   AP.USER_TITLE,
			   AP.PO_TITLE,
			   AP.COM_DATE,
			   AP.RESULT
          FROM POST PO, APPLY AP
         WHERE PO.PO_NUM = AP.PO_NUM
           AND AP.PO_NUM = #{ po_num }
  </select>
  
</mapper>
