<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TeamProject.users.mapper.UsersMapper">

  <insert  id="insertUser">
 
  	INSERT  INTO  USERS  ( 
        USER_ID,
        USER_NAME,
        USER_PW,
        USER_TELL,
        USER_DATE,
        USER_GENDER)
    VALUES   ( 
       #{ user_id   },
       #{ user_pw },
       #{ user_name  },
       #{ user_tell  },
       #{ user_date  },
       #{ user_gender  }
    )
  </insert>
  	<select  id = "ulogin">
	  SELECT   
        USER_ID,
        USER_NAME,
        USER_PW,
        USER_TELL,
        USER_DATE,
        USER_GENDER       
	   FROM  
	       USERS
	   WHERE
	       USER_ID = #{ arg0 }  
	    AND
	       USER_PW = #{ arg1 }       
	
	</select>
	
</mapper>
